
@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-white: white;
    --background-black: black;
    --bar-color: #7b52b9;
    --highlight: #f0a500;
    --border-color:rgb(199, 183, 183);
    --hover-tech:#717d84;
    --tech-color:rgb(80, 84, 87);
    --underline-color:#0087ca;
    --gray-color: #423d3d;
}

html{
    scroll-padding-top: 60px;
    scroll-behavior: smooth;
    padding-top: 60px;
}
body{
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    background-color: var(--gray-color);
    color: var(--text-white);
}
/* styling navbar */
ul li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-white);
}
span.brand{
    margin-left: 4%;
    font-weight: 600;
    font-size: 22px;
}
div.navbar{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-black);
    z-index: 1;
}

.navbar ul{
    display: flex;
    min-height: 60px;
    align-items: center;
    justify-content: end;
}
#checkbox {
    display: none;
    }

/* making navbar responsive */
/* for mobile screen */
@media(max-width: 900px)
{
    .toggle {
    position: relative;
    width: 40px;
    cursor: pointer;
    display: block;
    height: calc(4px * 3 + 11px * 2);
    margin-right: 20px;
    }
    
    .bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: var(--bar-color);
    color: inherit;
    opacity: 1;

    transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
    }
    .bar--top {
    bottom: calc(50% + 6px + 4px/ 2);
    transition-property: bottom,transform;
    transition-delay: calc(0s + 0.35s) * .6;
    }
    
    .bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity,transform;
    transition-delay: calc(0s + 0.35s * .3);
    }
    
    .bar--bottom {
    top: calc(50% + 6px + 4px/ 2);
    transition-property: top,transform;
    transition-delay: 0s;
    }
    #checkbox:checked + .toggle .bar--top {
    transform: rotate(-135deg);
    transition-delay: 0s;
    bottom: calc(50% - 4px/ 2);
    }
    
    #checkbox:checked + .toggle .bar--middle {
    opacity: 0;
    transform: rotate(-135deg);
    transition-delay: calc(0s + 0.35s * .3);
    }
    
    #checkbox:checked + .toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(-225deg);
    transition-delay: calc(0s + 0.35s * .6);
    }

    .navbar ul{
        display: block;
        position: fixed;
        width: 100%;
        height: 100dvh;
        background-color: inherit;
        top: 60px;
        text-align: center;
        transition: all .5s;
        left:-100%;
    }
    .navbar ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .navbar #checkbox:checked ~ ul{
        left: 0;
    }

    .contactme-image{
        display: none;
    }


}
@media(max-width: 550px){
    .right-container,.left-about,.contactme-image{
        display: none;
    }
    .left-container{
        text-align: center;
    }
    div.grid-container{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 768px) and (min-width: 550px){
    
    div.grid-container{
        grid-template-columns: 1fr 1fr;
    }
    .contactme-image,.right-container{
        display: none;
    }
}

/* for computer screens */
@media(min-width: 768px)
{
    .navbar ul{
        margin-right: 4%;   
    }
    #menuToggle{
        display: none;
    }
    ul .nav-item{
        margin-right: 60px;
        position: relative;
    }
    
    ul li a::after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: var(--highlight);
        transform-origin: bottom center;
        transition: transform 0.25s ease-out;
    }
    ul li a:hover::after{
        transform: scaleX(1);
        transform-origin: bottom center;
    }
    div.grid-container{
        grid-template-columns: 1fr 1fr 1fr; 
    }
}



#home{
    margin: 0 4% 0 4%
}
#about{
    /* background-color: #000; */
    margin: 2% 4% 2% 4%;
}

#services{
    /* background-color: aquamarine; */
    height: calc(100dvh - 60px);
    margin: 0 4% 0 4%;
}
#skills{
    margin: 2% 4% 0 4%;
}
#projects{
    /* height: calc(100dvh - 60px); */
    margin: 2% 4% 0 4%;
}
#contact{
    /* background-color: rgb(99, 99, 151); */
    /* background-color: #7f95d1; */
    border-top: 2px solid;
    padding: 2% 10% 0 10%;
    min-height: 250px;
}


.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100dvh - 60px);
    gap: 100px;
}

.home-container::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(images//portfolio1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: .30;
    height: calc(100dvh - 60px);
}


.right-container img{
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    
}

.left-container h1{
    font-size: 2.5em;
}
.left-container h2 {
    font-size: 1.5em;
}
.p-span{
    font-size: 1.5em;
    margin-bottom: 5px;
}
.highlight {
    color: var(--highlight);
}

.left-container h3 {
    font-size: 1.2em;
}

.button{
    margin-top: 1em;
}

.button button {
    font-size: 1em;
    padding: 0.5em 1.5em;
    border: none;
    cursor: pointer;
    margin: 0em;
    border-radius: 25px;
}

.contact-buton{
    background-color: var(--highlight);
    color: var(--background-black);
}
.contact-buton:hover{
    background-color: var(--text-white);
}
.contact-buton:active{
    background-color: var(--highlight);
}


th, td{
    text-align: start;
    padding: 20px 0 0 0;
    width: 200px;
}
tr{
    row-gap: 50px;
}

.button-cv{
    margin-top: 25px;
    padding: 0.8em  1.5em;
    background-color: var(--highlight);
    border: none;
    border-radius: 20px;
    font-size: 0.8em;
    cursor: pointer;
}


.reveal{
    position: relative;
    transform: translateX(-100px);
    opacity: 0;   
    transition: all 2s ease;
}
.reveal.active{
    transform: translatex(0px);
    opacity: 1; 
}

.right-about{
    position: relative;
    place-self: center;
}
.section-title{
    margin-bottom: 20px;
}
h1.section-title::before{
    content: '';
    height: 4px;
    width: 70px;
    background-color: var(--highlight);
    position: absolute;
    top: 2rem;
    left: 0;
}
h1.section-title::after{
    content: '';
    height: 4px;
    width: 35px;
    top: 2rem;
    background-color: var(--highlight);
    position: absolute;
    left: 0;
    margin-top: 8px;
}

.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-self: center;
}
.left-about{
    place-self: center;
}

.left-about img{
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
 
}

.tech{
    background-color: var(--tech-color);
    margin: 20px;
    padding: 20px;
    border: 5px solid var(--border-color);
    transition: all 0.5s ease;
    text-align: center;
}
.tech:hover{
    background-color: var(--hover-tech);
}
.skills-section{
    position: relative;
}

 .html .html-logo{
    background-image: url("images/html.png");
}

.css .css-logo{
    background-image: url("images/css1.png");
}
.csharp .csharp-logo{
    background-image: url("images/csharp.png");
}
.angular .angular-logo{
    background-image: url("images/angular.png");
}
.sql .sql-logo{
    background-image: url("images/sql.png");
}
.aspnet .aspnet-logo{
    background-image: url("images/aspnetcore.png");
}
.logo-padding{
    height: 200px;
    width: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 20px;
    transition: transform 1s;
}
.logo-padding:hover{
    transform: scale(1.2);
}

.grid-container{
    display: grid;
}
div.project{
    /* width: 1fr; */
    margin: 20px;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactme-image{
    background-size: contain;
    background-repeat: no-repeat;
}

.img-box img{
    width: 3.5rem;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
    margin-top: 10px;
    margin-left: 4px;
    background-color: white;
    padding: 6px;
    border-radius: 20px;
}

.img-box img:hover{
    cursor: pointer;
}

.grid-container img{
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid;
    aspect-ratio: 3/2;
    object-fit: contain;
    width: 100%;
    /* max-width: 25rem; */
    height: auto;
    margin-bottom: 20px;
    
}